treefile = /Users/junyinglim/Dropbox/Projects/2015/Peperomia/data/pepPhyloRuns/raxml_160618/ml_160618_rooted
outfile = /Users/junyinglim/Dropbox/Projects/2015/Peperomia/data/pepPhyloRuns/raxml_160618/plDated.tre
smooth = 100
numsites = 63265
mrca = PIPERACEAE JYL-03_Peperomia_obovatilimba_Hawaii Piper_kadsura
max = PIPERACEAE 90.7
min = PIPERACEAE 66
outfile = dated.tre
thorough
cv